header {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0.5rem 3rem;
}

.header_title {
    text-align: center;
}

.title_text {
    font-size: 2rem;
    font-weight: 300;
    color: var(--font-color1);
}

.header_nav {
    display: flex;
    column-gap: 1rem;
}

section {
    color: var(--font-color2);
}

img {
    width: 200px;
    height: 200px;
}

.main_product1,
.main_product2,
.main_product3 {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin: 2rem;
    border: 0.4rem solid var(--font-color1);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.services {
    text-align: center;
    padding: 1rem 0;
}

.services_title {
    font-size: 1.3rem;
    color: var(--font-color1);
}

.services_box {
    display: flex;
    column-gap: 1rem;
}

.box_take,
.box_delivery {
    border: 0.4rem solid var(--font-color1);
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    margin-top: 1rem;
}

.service-title {
    font-size: 1.1rem;

}

.service-text {
    font-size: 0.8rem;
    margin-top: 1rem;
}